# ignore
.env
.venv/
__pycache__/

inputs/*
outputs/*
consolidated_outputs/*
prototype_outputs/*
example/*
demo.db
.opencode/
.opencodeignore
opencode.json
project_snapshot.zip

# keep folder
!inputs/.gitkeep
!outputs/.gitkeep
!consolidated_outputs/.gitkeep